{% extends 'base.html' %}
{% block heading %}
{% endblock %}
{% block details  %}
    <h3 class="m-3">Book Details</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <span class="text-info">Title: </span><span>{{book.title}}</span><br>
        <span class="text-info">Publisher: </span><span>{{book.publisher}}</span><br>
        <span class="text-info">Publication Date: </span><span>{{book.publication_date}}</span><br>
        <span class="text-info">Overall Rating: </span><span class="badge badge-primary badge-pill">{{overall_rating}}</span><br>
      </li>
    </ul>
    <h3 class="m-3">Review Comments</h3>
    <ul class="list-group ml-5">
      {% for review in reviews %}
      <li class="list-group-item">
        <span class="text-info">Review comment: </span><span>{{review.comment}}</span><br>
        <span class="text-info">Created on: </span><span>{{review.date_created}}</span><br>
        <span class="text-info">Modified on: </span><span>{{review.date_edited}}</span><br>
        <span class="text-info">Rating: </span><span class="badge badge-secondary badge-pill">{{review.rating}}</span><br>
        <span class="text-info">Creator: </span><span>{{review.creator}}</span><br>
      </li>
      {% endfor %}
    </ul>
{% endblock %}
